# Virtual environment
venv/

# Sample invoices (private data)
backend/sample_invoices/

# Environment variables (credentials)
.env

# Saved browser session
auth_session.json

#vendor cage notes
/backend/vendorcafe_notes.txt   

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store
